<div class="rating">
    @@if (rating === "5") {
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
    }
    @@if (rating === "4") {
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
    }
    @@if (rating === "3") {
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
    }
    @@if (rating === "2") {
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
    }
    @@if (rating === "1") {
        <svg class="rating__item rating__item--active"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs /sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
    }
    @@if (rating === "0") {
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
        <svg class="rating__item"><use xlink:href="imgs/sprite.svg#star"></use></svg>
    }
</div>