/* colors */
$black: #242424;
$blackLight: #2A2A2A;
$blue: #485CDA;
$blueLight: #D7DDE2;
$grey: #929292;
$greyBackground: #DEDEDE;
$greyBackgroundLight: #E9EAEB;
$greyLight: #8B97AE;
$red: #D95D68;
$white: #FFFFFF;
$whiteLight: #E4E4E4;
$yellow: #FFB628;